<div th:fragment="menu" class="menu container">
	
	<form action="/search" id="search-form">
		<div class="row">

				<div id="page-header" class="column column-50" th:if="${page != null}">
					<div id="page-title" th:each="chapter, iter : ${page.chapters}"
						th:text="${iter.last} ? ${chapter} : ${chapter} + ', '">
					</div>
					
					<span class="b">Band:</span>
					<span class="i" th:text="${page.volume}">nicht verfügbar</span>
					
					<span class="menu-spacer">&mdash;</span>
					
					<span class="b">Sprachen:</span>
					<span class="i"
						th:each="language, iter : ${page.languages}"
						th:text="${iter.last} ? ${language} : ${language} + ', '">
						nicht verfügbar
					</span>
				</div>
				
				
				<div class="column column-50" th:if="${page == null}">
				</div>
				
			
				<div class="column">
					<label>Begriff</label> <input name="token"
						placeholder="Giuventütna" id="search-token" type="text"
						th:value="${session.searchToken}">
				</div>
	
				<div class="column">
					<label>Annotation</label> <input name="tag" placeholder="NN"
						id="search-tag" type="text" th:value="${session.searchTag}">
				</div>
	
				<div class="column">
					<label>Suchmodus</label> <select id="search-mode" name="mode">
						<option value="nomal" th:selected="${session.searchMode == 'normal'}">normal</option>
						<option value="fuzzy" th:selected="${session.searchMode == 'fuzzy'}">unscharf</option>
					</select>
				</div>
	
		</div>
		
		<div class="row">

				<div class="column column-50">
				</div>
			
				<div class="column">
					<label>vorherige Annotation</label> <input name="tagPrev"
						id="search-tag-prev" type="text"
						th:value="${session.searchTagPrev}">
				</div>
	
				<div class="column">
					<label>folgende Annotation</label> <input name="tagNext"
						id="search-tag-next" type="text" th:value="${session.searchTagNext}">
				</div>
	
				<div class="column">
					<label>&nbsp;</label>
					
					<button class="button-primary bc-search-btn" type="submit" value="" form="search-form">
						<img th:src="@{~/img/icon-search.png}" alt="Suchen"/>
					</button>
					
					<button id="bc-search-reset-btn" class="button-primary bc-search-btn" type="button">
						<img th:src="@{~/img/icon-reset.png}" alt="Zurücksetzen"/>
					</button>
				</div>
	
		</div>
	</form>
	
</div>
