<div th:fragment="pageHeader" class="container">

	<div class="row">
		<div class="column">
			
			<!-- PAGE HEADER -->
			<div class="noframe-box">
				<div id="header">
					<span th:each="chapter, iter : ${page.chapters}" th:text="${iter.last} ? ${chapter} : ${chapter} + ', '">
					</span>
				</div>
			
				<span class="b">Band:</span>
				<span class="i" th:text="${page.volume}">nicht verfügbar</span>
				<br>
				<span class="b">Sprachen:</span>
				<span class="i" th:each="language, iter : ${page.languages}" th:text="${iter.last} ? ${language} : ${language} + ', '">
					nicht verfügbar
				</span>
			</div>
			
		</div>
	</div>
	
</div>
