<!DOCTYPE html>
<head th:replace="common/head :: head"></head>

<body>

	<div th:replace="common/pageheader :: pageHeader"></div>
	<div th:replace="common/toolbar :: toolBar"></div>

	<div class="container">
	
		<!-- PAGE META DATA -->
		<div class="frame-box">
			<span class="b">Band:</span>
			<span class="i" th:text="${page.volume}">nicht verfügbar</span>
			<br>
			<span class="b">Kapitel:</span>
			<span class="i" th:each="chapter, iter : ${page.chapters}" th:text="${iter.last} ? ${chapter} : ${chapter} + ', '">
				nicht verfügbar
			</span>
			<br>
			<span class="b">Sprachen:</span>
			<span class="i" th:each="language, iter : ${page.languages}" th:text="${iter.last} ? ${language} : ${language} + ', '">
				nicht verfügbar
			</span>
		</div>
		
		<!-- TAGS -->	
		<div class="row">
			<div id="bc-tags" class="noframe-box">
			
				<span id="bc-tags-reset">&xotime;</span>
				
				<span
					th:each="tag : ${tags}"
					th:text="${tag}"
					th:attr="data-tag=${tag}"
					data-locked="false"
					class="bc-tags-item">
				</span>
				
			</div>
		</div>
		
		<!-- PAGE DISPLAY -->
		<div class="row">
			<div class="column">
				<div id="bc-display" class="frame-box">
				
					<span
						th:each="token : ${page.tokens}"
						th:attr="data-index=${token.index},
								 data-tag=${#arrays.isEmpty(token.tags) ? 'NOT_TAGGED' : #strings.listJoin(token.tags, ',')},
								 data-x=${token.scanPosition.x},
								 data-y=${token.scanPosition.y},
								 data-w=${token.scanPosition.width},
								 data-h=${token.scanPosition.height}"
						th:text="${token.form}"
						class="bc-object"
						data-locked="false">
					</span>
				
				</div>
			</div>
			<div class="column">
				<div id="bc-extra" class="frame-box">
					<img src="img/dummy.png" alt=""/>
				</div>
			</div>
		</div>
			
	</div>

</body>
</html>