<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: head"></head>


<body>

	<noscript th:replace="common/head :: noscript"></noscript>
	<div th:replace="common/menu :: menu"></div>
	
	

	<div class="container">
	
		<!-- TAGS -->	
		<div class="row">
			<div id="bc-tags" class="noframe-box">
			
				<span id="bc-tags-reset">&xotime;</span>
				
				<span
					th:each="tag : ${tags}"
					th:text="${tag}"
					th:attr="data-tag=${tag}"
					data-locked="false"
					class="bc-tags-item">
				</span>
				
			</div>
		</div>
		
		<!-- PAGE DISPLAY -->
		<div class="row">
			<div class="column">
				<div id="bc-display" class="frame-box" th:attr="data-language=${language}">
				
					<span
						th:each="token : ${page.tokens}"
						th:attr="data-index=${token.index},
								 data-tag=${#arrays.isEmpty(token.tags) ? 'NOT_TAGGED' : #strings.listJoin(token.tags, ',')},
								 data-x=${token.scanPosition.x},
								 data-y=${token.scanPosition.y},
								 data-w=${token.scanPosition.width},
								 data-h=${token.scanPosition.height}"
						th:text="${token.form}"
						th:classappend="${token.newLine ? 'new-line' : ''}"
						th:classappend="${token.index == highlight ? 'highlighted' : ''}"
						class="bc-object"
						data-locked="false">
					</span>
				
				</div>
				
				<div id="bc-analysis" class="frame-box">Bitte warten...</div>
				
			</div>
			<div class="column">
				<div id="sticky-anchor"></div>
				<div id="bc-scan" class="frame-box">
					<img id="scan-img" th:src="'/scan/' + ${page.scanId}" alt=""/>
				</div>
			</div>
		</div>
		
	</div>
	
	<script type="text/javascript" th:src="@{~/js/color-hash.js}"></script>
	<!-- <script type="text/javascript" th:src="@{~/js/sticky.js}"></script> -->
	<script type="text/javascript" th:src="@{~/js/batcave-page.js}"></script>

</body>
</html>