<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: head"></head>

<body>

	<div th:replace="common/menu :: menu"></div>


	<div class="container">
		
		<div>
			<div>
				<h7 th:inline="text">Semantische Ähnlichkeit zu "[[${token}]]"</h7>
				<p th:inline="text">
					Im Folgenden sind für jede zutreffende Sprache die 
					jeweils zehn zu "[[${token}]]" semantisch ähnlichsten Begriffe aufgelistet.<br>
					Diese Daten ergeben sich aus einer Analyse der gemeinsamen Kookkurenzen 
					von "[[${token}]]" und den aufgeführten Begriffen in der entsprechenden Sprache.<br>
					Ein Zugriff auf diese Daten ist auch durch einen Klick auf ein Wort in der Dokumenten-Ansicht möglich!
				</p>
			</div>
			
			<div id="bc-search-analysis" th:if="${sims != null}">
				<div class="block-column" th:each="sim : ${sims}">
					<div class="frame-box">
						<div class="centered" th:text="${sim.key}"></div>
						<table class="bc-results-table">
							<tr>
								<th>Begriff</th>
								<th>Ähnlichkeit</th>
							</tr>
							<tr th:each="entry : ${sim.value}">
								<td th:text="${entry.key}">N/A</td>
								<td th:text="${entry.value}" class="sim-value">N/A</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			
			<div id="bc-search-analysis" th:if="${sims.size() == 0}">
				<div class="frame-box">
					<div class="h-center" th:inline="text">
						Es wurden keine Daten zu "[[${token}]]" gefunden.
					</div>
				</div>
			</div>
			
		</div>
	
	</div>
	
</body>
</html>