<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: head"></head>

<body>

	<div th:replace="common/menu :: menu"></div>


	<div class="container">
		
		<!-- SEARCH FORM -->	
		<div class="row">
			<div id="bc-searchform" class="noframe-box">

				<form>
				<div class="row">
				
					<div class="column">
						<label>Begriff</label>
						<input name="token" placeholder="Giuventütna" id="search-token" type="text" th:value="${searchToken}">
					</div>
					
					<div class="column">
						<label>Annotation</label>
						<input name="tag" placeholder="NN" id="search-tag" type="text" th:value="${searchTag}">
					</div>
				
					<div class="column">
						<label>Suchmodus</label>
						<select id="search-mode" name="mode">
							<option value="nomal" th:selected="${searchMode == 'normal'}">normal</option>
							<option value="fuzzy" th:selected="${searchMode == 'fuzzy'}">unscharf</option>
						</select>
					</div>

					<div class="column">
						<label>&nbsp;</label>
						<input class="button-primary" value="Suchen" type="submit">
					</div>
				</div>
				</form>

			</div>
		</div>
		
		<!-- SEARCH RESULTS -->
		<div class="row">
		
			<div class="column">
				<div id="bc-results" class="frame-box">
				
					<table>
						<tr>
							<th>Fundstelle</th>
							<th>Annotation</th>
							<th>Kontext</th>
							<th>Band</th>
							<th>Kapitel</th>
							<th>Sprache</th>
						</tr>
						<tr class="bc-result" th:each="result : ${results}"
							th:attr="data-id=${result.pageId}, data-index=${result.index}">
							<td th:text="${result.hit}">N/A</td>
							<td th:text="${result.tag}">N/A</td>
							<td th:text="${result.context}">N/A</td>
							<td th:text="${result.volume}">N/A</td>
							<td th:text="${result.chapter}">N/A</td>
							<td th:text="${result.language}">N/A</td>
						</tr>
					</table>
					<!--
					<span
						th:each="token : ${page.tokens}"
						th:attr="data-index=${token.index},
								 data-tag=${#arrays.isEmpty(token.tags) ? 'NOT_TAGGED' : #strings.listJoin(token.tags, ',')},
								 data-x=${token.scanPosition.x},
								 data-y=${token.scanPosition.y},
								 data-w=${token.scanPosition.width},
								 data-h=${token.scanPosition.height}"
						th:text="${token.form}"
						th:classappend="${token.newLine ? 'new-line' : ''}"
						class="bc-object"
						data-locked="false">
					</span>
					-->
				
				</div>
			</div>
			
		</div>
			
	</div>
	
	<script type="text/javascript" th:src="@{~/js/batcave-search.js}"></script>

</body>
</html>