<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: head"></head>

<body>

	<div th:replace="common/menu :: menu"></div>


	<div class="container">
		
		<!-- SEARCH FORM -->	
		<div class="row">
			<div id="bc-searchform" class="noframe-box">

				<form>
				<div class="row">
					<div class="column">
						<label>Begriff</label>
						<input name="token" placeholder="Giuventütna" id="searchQ" type="text">
					</div>
					<div class="column">
						<label>Annotation</label>
						<input name="tag" placeholder="NN" id="searchQ" type="text">
					</div>
					<!-- 
					<div class="column">
						<label>Optionen</label>
						<select id="searchO" name="o">
							<option value="0-13">0-13</option>
							<option value="14-17">14-17</option>
							<option value="18-23">18-23</option>
							<option value="24+">24+</option>
						</select>
					</div>
					-->
					<div class="column">
						<label>&nbsp;</label>
						<input class="button-primary" value="Suchen" type="submit">
					</div>
				</div>
				</form>

			</div>
		</div>
		
		<!-- SEARCH RESULTS -->
		<div class="row">
		
			<div class="column">
				<div id="bc-results" class="frame-box">
				
					<table>
						<tr th:each="result : ${results}">
							<td th:text="${result.id}"></td>
							<td th:text="${result.volume}"></td>
							<td th:text="${result.chapters}"></td>
						</tr>
					</table>
					<!--
					<span
						th:each="token : ${page.tokens}"
						th:attr="data-index=${token.index},
								 data-tag=${#arrays.isEmpty(token.tags) ? 'NOT_TAGGED' : #strings.listJoin(token.tags, ',')},
								 data-x=${token.scanPosition.x},
								 data-y=${token.scanPosition.y},
								 data-w=${token.scanPosition.width},
								 data-h=${token.scanPosition.height}"
						th:text="${token.form}"
						th:classappend="${token.newLine ? 'new-line' : ''}"
						class="bc-object"
						data-locked="false">
					</span>
					-->
				
				</div>
			</div>
			
		</div>
			
	</div>
	

</body>
</html>