<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: head"></head>

<body>

	<noscript th:replace="common/head :: noscript"></noscript>
	<div th:replace="common/menu :: menu"></div>


	<div class="container">
	
		<!-- SEARCH RESULTS -->
		<div class="row" th:if="${results != null}">
		
			<div class="column">
				<div id="bc-results" class="frame-box">
				
					<table th:if="${resultsCount > 0}" class="bc-results-table">
						<tr>
							<th>Fundstelle</th>
							<th>Annotation</th>
							<th>Kontext</th>
							<th>Band</th>
							<th>Kapitel</th>
							<th>Sprache</th>
						</tr>
						<tr class="bc-result" th:each="result : ${results}"
							th:attr="data-id=${result.pageId}, data-index=${result.index}">
							<td th:text="${result.hit}">N/A</td>
							<td th:text="${result.tag}">N/A</td>
							<td th:text="${result.context}">N/A</td>
							<td th:text="${result.volume}">N/A</td>
							<td th:text="${result.chapter}">N/A</td>
							<td th:text="${result.language}">N/A</td>
						</tr>
					</table>
					
					<div th:if="${resultsCount == 0}" class="h-center">
						Es wurde nichts gefunden.
					</div>
					
					<!--
					<span
						th:each="token : ${page.tokens}"
						th:attr="data-index=${token.index},
								 data-tag=${#arrays.isEmpty(token.tags) ? 'NOT_TAGGED' : #strings.listJoin(token.tags, ',')},
								 data-x=${token.scanPosition.x},
								 data-y=${token.scanPosition.y},
								 data-w=${token.scanPosition.width},
								 data-h=${token.scanPosition.height}"
						th:text="${token.form}"
						th:classappend="${token.newLine ? 'new-line' : ''}"
						class="bc-object"
						data-locked="false">
					</span>
					-->
				
				</div>
			</div>
			
		</div>
		
		
		<div class="row" th:if="${results == null}">
			<div class="column">
				<br><br><br>
				<p class="h-center gray">Bitte benutzen Sie die Suche</p>
			</div>
		</div>
			
	</div>
	
	<script type="text/javascript" th:src="@{~/js/batcave-search.js}"></script>

</body>
</html>